<!DOCTYPE html>
<html>
	<head>
		<title>@springernature packages</title>
		<meta name="robots" content="noindex, follow">
		<link rel="stylesheet" type="text/css" href="./css/styles.css">
		<link rel="icon" href="./favicon.png" type="image/png" />
	</head>
	<body>
		<div class="container">
			<h1>Springer Nature NPM Packages</h1>
			<p style="margin-bottom:5%;">Demonstration of the <a href="https://github.com/springernature/frontend-toolkit-utilities/tree/master/packages/util-package-finder">package finder</a> utility.</p>
			<table class="striped">
				<tbody>
					<% for (let i = 0; i < packages.length; i++) { %>
						<tr class="<%- packages[i].status %>">
							<td>
								<h2><a href="<%- packages[i].npm %>"><%- packages[i].name %></a></h2>
								<p><%- packages[i].description %></p>

								<% if (packages[i].versions) { %>
									<% if (packages[i].versions.length > 1) { %>
										<small><strong><%- packages[i].versions.length %> versions:</strong> <%- packages[i].versions.toString().replace(/\,/g, ', '); %></small>
									<% } else { %>
										<small><strong><%- packages[i].versions.length %> version:</strong> <%- packages[i].versions.toString().replace(/\,/g, ', '); %></small>
									<% } %>
								<% } %>
							</td>
							<td>
								<strong>v<%- packages[i].latest %></strong><br>
								<span class="status <%- packages[i].status %>"><%- packages[i].status %></span>
							</td>
						</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		<script src="./js/app.js"></script>
	</body>
</html>